*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    height: 10%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/background.jpg) no-repeat;
    background: url(/signup.jpeg) no-repeat center top;
}

h1{
    color: #a3e6d7;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}