*
{
    margin: 0;
    padding: 0;
}

head
{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(background.jpg) no-repeat center top;
height: 100vh;
background-size: cover;
background-position: center;
} 

.logo {
    width: 10%;
    height: 5%;
    float: left;
    margin-top: 30px;
    transition: 8s ease-out;
    transform: rotate(360deg);
}

body{
    font-family: monospace;
    background-image: linear-gradient(rgba(15, 1, 1, 0.897),rgba(0,0,0,0.5)),
    url(/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.row{
    max-width: 100%;
    margin: auto;
}

h1{
    color: #a3e6d7;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.main-nav
{
    position: top;
    float:right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: rgb(255, 230, 215);
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

#canvas {
    display:block;
    margin:5vh auto;
    margin-top: 100px;
    margin-left: 30px;
    border-radius:50%;
    box-shadow: 0 3px 3px black;
    float: right;
  }