extends layout

block append head
  link(rel='stylesheet' href='/aboutus.css')
  link(rel='stylesheet' href='/css/jquery-ui-lightness/jquery-ui.min.css')
  link(rel='stylesheet' href='/css/jquery-ui.theme.css')
block content
  canvas#canvas(width='200', height='200')
  h1(class='ui-state-default') About Us
  div(id='tabs' class='ui-widget-content')
    ul
      li
        a(href='/vidhya') Vidhya
      li
        a(href='/nethra') Nethra
      li
        a(href='/ishaan') Ishaan
      li
        a(href='/haroon') Haroon
  link(rel='stylesheet' href='/css/jquery-ui-lightness/jquery-ui.min.css')
  script(src='/js/jquery-3.1.1.js')
  script(src='/js/jquery-ui.js')
  script(src='/js/tabs.js')

  
