extends layout

block append head
  link(rel='stylesheet' href='/css/login.css')
  link(rel='stylesheet' href='/css/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-ui.theme.css')

block append body
  h1 Delete User
  div(class='login-box')
    form(method='POST', action='/users/delete?_method=DELETE')
      #form-group
        label Username:
        input.form-control(name='username',type='text')
      br
      input.btn.btn-primary(type='submit',value='Submit')