extends layout

block append head
  link(rel='stylesheet' href='/login.css')
  link(rel='stylesheet' href='/css/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-ui.theme.css')

block content
  h1 #{title}
  ul.list-group
    each user, i in users
      li.list-group-item
        p=user.username
        p=user.id
        p=user.email
