extends layout

block append head
  link(rel='stylesheet' href='/home-page.css')
  link(rel='stylesheet' href='/css/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-ui.theme.css')
  
block content
  h1 #{title}
  canvas#canvas(width='200', height='200')
  script(src='/homepage.js')
  


