extends layout

block append head
  link(rel='stylesheet' href='/css/register.css')
  link(rel='stylesheet' href='/css/jquery-ui.css')
  link(rel='stylesheet' href='/css/jquery-ui.theme.css')
  script(src='/js/jquery-3.1.1.js')
  script(src='/js/jquery-ui.js')  
  script(src='/js/register.js')      
block content
  div(class='login-box')
    h1 Register
    img.avatar#id(src="/logo3.jpeg" alt="Image Title")
    form(method='POST', action='/users/register')
      #form-group
        label Id:
        input.form-control(name='id', type='text', placeholder='Enter id')  
      #form-group
        label Username:
        input.form-control(name='username', type='text', placeholder='Enter username')
      #form-group
        label Email:
        input.form-control(name='email', type='text', placeholder='Enter email')
      #form-group
        label Password:
        input.form-control(name='password',type='password', placeholder='Enter password')
      #form-group
        label Confirm Password:
        input.form-control(name='password2',type='password', placeholder='Confirm password')
      #form-group
        label Location:
        #location.custom-select(width='140px') 
        select
          option(value='0') Select Location
          option(value='1') California
          option(value='2') New York
          option(value='3') Texas
          option(value='4') Florida
          option(value='5') New Jersey
      br
      input.btn.btn-primary(type='submit',value='Submit')
  